/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
   @import url("https://fonts.googleapis.com/css?family=Poppins");
   @import url("https://fonts.googleapis.com/css?family=Open+Sans");


html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

 /* Mobile */



   @media screen and (max-width: 767px)

   {

 /* Common styles */

   body {
          font-size: 18px;
          padding: 0px;
          margin: 0px;

        }

   p {margin: 0px;}

   header {
            background-image: url("../img/bg-hero-mobile.svg");
            background-size: cover;
            height: 770px;
            background-color: #edfbfe;
            margin-bottom: 59px;
          }

   .heading {
              color: #01262f;
              margin-top: 0px;
              font-size: 18px;
              font-family: "Poppins";
              font-weight: 600;
            }

   .p {
        color: #01262f;
        font-family: "Open Sans";
        font-weight: 400;
      }

   .call-to-actions {
                      font-family: "Open Sans";
                      font-weight: 700;
                    }

 /* Top page */

   #img1 {
          width: 120px;
          height: 20px;
          float: left;
          margin-top: 32px;
          margin-left: 15px;
          padding-bottom: 96px;
        }

   .trial {
          float: right;
          margin-top: 32px;
          padding: 0px 20px 0px 20px;
          margin-right: 30px;
          border: 1px solid #e2edf3;
          background-color: white;
          border-radius: 200px;
        }

   .flex-container1 {
                    display: flex;
                    flex-flow: column wrap;
                    clear: both;
                    margin: 0px 17px 0px 17px;
                    align-items: center;
                    text-align: center;

                  }

 /* Mid page */

   #img2, #img3, #img4, #img5 {
                                width: 270px;
                                height: 169px;
                                margin: 0px 17px 0px 17px;
                              }

   #head1 {margin-bottom: 37px;}

 #head2, #head3, #head4 {margin-top: 63px;}


   #p2 {
        margin-top: 0px;
        padding-left: 45px;
        padding-right: 45px;
      }

   #p3 {
         margin-top: 38px;
         border: 1px solid #fe52c0;
         border-radius: 50px;
         padding: 10px 30px 10px 30px;
         color: white;
         background-color: #fe52c0;
         text-align: center;
         width: 70%;
         margin-bottom: 55px;
       }

 #p4, #p4, #p5, #p6 {
                    margin-top: 29px;
                    padding: 0px 41px 35px 41px;
                    }

 .flex-container2, .flex-container3, .flex-container4

                 {
                  display: flex;
                  flex-flow: column wrap;
                  align-items: center;
                  margin: 0px 30px 36px 30px;
                  border: 1px solid #e2edf3;
                  border-radius: 25px;
                  text-align: center;
                  }

     /* End page */

.central {text-align: center;
          display: flex;
          flex-flow: column wrap;
          align-items: center;
          margin: auto;
          transform: translateY(70px);
          border: 30px solid white;
          background-color: white;
          width: 75%;
          border-radius: 25px;
          margin-top: -70px;}

#p7   {
         margin-top: 38px;
         border: 1px solid #fe52c0;
         border-radius: 50px;
         padding: 10px 30px 10px 30px;
         color: white;
         background-color: #fe52c0;
         text-align: center;
         width: 70%;
         margin-bottom: 0px;

       }

       #img6 {
              width: 120px;
              height: 20px;
              float: left;
              margin-top: 32px;
              margin-left: 15px;
              margin-bottom: 27px;
            }

      #logo2 {transform: scale(0.5);}

     .logo3 {padding-top: 140px;
              margin-bottom: 30px;
              margin-left: 20px;}

      #p8 {clear: both;
            color: white;
            margin-left: 15px;
            margin-bottom: 30px;}

      #p9 {clear: both;
           color: white;
           margin-left: 15px;
           margin-bottom: 30px;}

#p10 {clear: both;
      color: white;
      margin-left: 15px;
      margin-bottom: 65px;}

#p11, #p12, #p13, #p14, #p15, #p16, #p17 {color: white; margin-bottom: 28px; margin-left: 20px;}

#p16 {margin-bottom: 57px;}

footer {background-color: #002a2e;
        color: white;
        height: 920px;}

i {
    border-radius: 50px;
    text-align: center;}

.icons2 {text-align: center;}

.wlogo { fill: white;
        float: left;
       }

#p17 {margin-top: 23px;
      font-size: small;
      text-align: center;}

}
/* Desktop page */

@media screen and (min-width: 1440px)

{

  /* Common styles */

    body {
           font-size: 18px;
           padding: 0px;
           margin: 0px;

         }

    p {margin: 0px;}

    header {
             background-image: url("../img/bg-hero-desktop.svg");
             background-size: cover;
             height: 723px;
             background-color: #edfbfe;
             margin-bottom: 59px;
           }

    .heading {
               color: #01262f;
               margin-top: 0px;
               font-size: 48px;
               font-family: "Poppins";
               font-weight: 600;
             }

    .p {
         color: #01262f;
         font-family: "Open Sans";
         font-weight: 400;
         font-size: 24px;
       }

    .call-to-actions {
                       font-family: "Open Sans";
                       font-weight: 700;
                       font-size: 20px;
                     }

  /* Top page */

    #img1 {
           width: 240px;
           height: 39px;
           float: left;
           margin-top: 60px;
           margin-left: 80px;
           padding-bottom: 96px;
         }

    .trial {
           float: right;
           margin-top: 60px;
           padding: 0px 70px 0px 70px;
           margin-right: 80px;
           font-size: 30px;
           border: 1px solid #e2edf3;
           background-color: white;
           border-radius: 200px;
         }

         .flex-container1 {
                          display: flex;
                          flex-flow: row wrap;
                          clear: both;
                          margin: 0px 17px 0px 17px;
                          align-items: center;
                          text-align: left;
                          margin-left: 80px;
                          margin-right: 88px;
                          }

.column1a {width: 50%;}

.column2a {width: 50%;}

#img2 { width: 680px;
        height: 478px;}

#p3 {margin-top: 39px;
    border: 1px solid #fe52c0;
    width: 30%;
    text-align: center;
    background-color: #fe52c0;
    color: white;
    font-weight: normal;
    border-radius: 50px;
    padding: 23px 73px 23px 73px;}

/* Mid page */


.flex-container2 {
                 display: flex;
                 flex-flow: row wrap;
                 clear: both;
                 margin: 0px 17px 0px 17px;
                 align-items: center;
                 text-align: left;
                 margin-left: 100px;
                 margin-top: 154px;
                 margin-right: 104px;
                 margin-bottom: 36px;
                 border: 3px solid #f7f7f7;
                 padding: 126px 118px 50px 122px;
                 }

.column1b {width: 30%; order: 2;}

.column2b {width: 70%; order: 1;}

#img3 { width: 386px;
        height: 331px;}

#p4 {margin-right: 208px; width: 650px;}


.flex-container3 {
                 display: flex;
                 flex-flow: row wrap;
                 clear: both;
                 margin: 0px 17px 0px 17px;
                 align-items: center;
                 text-align: left;
                 margin-left: 100px;
                 margin-top: 36px;
                 margin-right: 104px;
                 margin-bottom: 36px;
                 border: 3px solid #f7f7f7;
                 padding: 126px 118px 50px 122px;
                 }

.column1c {width: 30%; order: 1;}

.column2c {width: 70%; order: 2;}

#img4 { width: 386px;
        height: 331px;
      }

#head3 {margin-left: 174px;}
#p5 {margin-left: 174px; width: 650px;}

.flex-container4 {
                 display: flex;
                 flex-flow: row wrap;
                 clear: both;
                 margin: 0px 17px 0px 17px;
                 align-items: center;
                 text-align: left;
                 margin-left: 100px;
                 margin-top: 36px;
                 margin-right: 104px;
                 margin-bottom: 36px;
                 border: 3px solid #f7f7f7;
                 padding: 126px 118px 50px 122px;
                 }

.column1d {width: 30%; order: 2;}

.column2d {width: 70%; order: 1;}

#img5 { width: 386px;
        height: 331px;}

#p6 {margin-right: 208px; width: 650px;}







}

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
