.column2d__h.column1a__p/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
   @import url("https://fonts.googleapis.com/css?family=Poppins");
   @import url("https://fonts.googleapis.com/css?family=Open+Sans");


html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

 /* Mobile */

@media screen and (min-width: 280px) and (max-width: 767px)

{

body {font-size: 18px;
      padding: 0px;
      margin: 0px;}

p {margin: 0px;}

header {background-image: url("../img/bg-hero-mobile.svg");
        background-size: 100% 100%;
        height: 770px;
        background-color: #edfbfe;
        margin-bottom: 59px;}

.column1a {display: flex;
           flex-flow: column nowrap;
           align-items: center;}

.heading {color: #01262f;
          margin-top: 0px;
          font-size: 24px;
          font-family: "Poppins";
          font-weight: 600;}

.p {color: #01262f;
    font-family: "Open Sans";
    font-weight: 400;}

.btn {font-family: "Open Sans";
      font-weight: 700;}

 /* Top page */

.logo {width: 120px;
       float: left;
       margin-top: 32px;
       margin-left: 15px;
       padding-bottom: 96px;}

.trial {float: right;
        margin-top: 32px;
        padding: 0px 10px 0px 10px;
        margin-right: 30px;
        border: 1px solid #e2edf3;
        background-color: white;
        border-radius: 200px;}

.flex-container1 {display: flex;
                  flex-flow: column wrap;
                  clear: both;
                  margin: 0px 17px 0px 17px;
                  align-items: center;
                  text-align: center;}

 /* Mid page */

.mockups {width: 60%;}

.together, .conversation, .users {width: 70%;
                                  max-width: 80%;}

.column1a__h {margin-bottom: 37px;}

 .column2b__h, .column2c__h, .column2d__h {margin-top: 63px;}


.column1a__p {margin: 0 45px 0 45px;}

.column1a__btn {margin-top: 38px;
                border: 1px solid #fe52c0;
                border-radius: 50px;
                padding: 10px 30px 10px 30px;
                color: white;
                background-color: #fe52c0;
                text-align: center;
                margin-bottom: 55px;}

 .column2b__p, .column2c__p, .column2d__p {margin-top: 29px;
                                           padding: 0px 41px 35px 41px;
                                           color: hsl(208, 11%, 55%);}

 .flex-container2, .flex-container3, .flex-container4 {display: flex;
                                                       flex-flow: column wrap;
                                                       align-items: center;
                                                       margin: 0px 30px 36px 30px;
                                                       border: 1px solid #e2edf3;
                                                       border-radius: 25px;
                                                       text-align: center;}

  /* End page */

.central {text-align: center;
          display: flex;
          flex-flow: column wrap;
          align-items: center;
          margin: auto;
          transform: translateY(70px);
          border: 30px solid white;
          background-color: white;
          width: 75%;
          border-radius: 25px;
          margin-top: -70px;}

.central__p {margin-top: 38px;
    border: 1px solid #fe52c0;
    border-radius: 50px;
    padding: 10px 30px 10px 30px;
    color: white;
    background-color: #fe52c0;
    text-align: center;
    margin-bottom: 0px;}

.logo-svg {transform: scale(0.5);}

.logo3 {padding-top: 140px;
        margin-bottom: 30px;
        margin-left: 20px;}

.column1e__p {clear: both;
              color: white;
              margin-left: 15px;
              margin-bottom: 30px;}

.email__p {clear: both;
           color: white;
           margin-left: 15px;
           margin-bottom: 65px;}

.column2e__p, .contact__p, .column3e__p {color: white;
                                         margin-bottom: 28px;
                                         margin-left: 20px;}

.contact__p {margin-bottom: 57px;}

footer {background-color: #002a2e;
        color: white;}

i {border-radius: 50px;
   text-align: center;}

.icons2 {text-align: center;}

.wlogo {fill: white;
        float: left;}

.copy {margin-top: 23px;
      padding-bottom: 40px;
      font-size: small;
      color: white;
      text-align: center;}

}

/* Tablet page */

@media screen and (min-width: 768px) and (max-width: 1439px)

{

  body {font-size: 24px;
        padding: 0px;
        margin: 0px;}

  p {margin: 0px;}

  header {background-image: url("../img/bg-hero-desktop.svg");
          background-size: 100% 100%;
          height: 1070px;
          background-color: #edfbfe;
          margin-bottom: 59px;}

  .column1a {display: flex;
             flex-flow: column nowrap;
             align-items: center;}

  .heading {color: #01262f;
            margin-top: 0px;
            font-size: 36px;
            font-family: "Poppins";
            font-weight: 600;}

  .p {color: #01262f;
      font-family: "Open Sans";
      font-weight: 400;}

  .btn {font-family: "Open Sans";
        font-weight: 700;}

   /* Top page */

  .logo {width: 240px;
         float: left;
         margin-top: 32px;
         margin-left: 15px;
         padding-bottom: 96px;}

  .trial {float: right;
          margin-top: 32px;
          padding: 0px 20px 0px 20px;
          margin-right: 30px;
          font-size: 34px;
          border: 1px solid #e2edf3;
          background-color: white;
          border-radius: 200px;}

  .flex-container1 {display: flex;
                    flex-flow: column wrap;
                    clear: both;
                    margin: 0px 17px 0px 17px;
                    align-items: center;
                    text-align: center;}

   /* Mid page */

  .mockups {width: 60%;}

  .together, .conversation, .users {margin: 40px 0 40px 0;
                                    width: 80%;
                                    max-width: 80%;}

  .column1a__h {margin-bottom: 37px;
                font-size: 40px;}

   .column2b__h, .column2c__h, .column2d__h {margin-top: 63px;
                                             font-size: 30px;}

   .central__h {font-size: 40px;}

  .column1a__p {margin-top: 0px;
                padding-left: 45px;
                padding-right: 45px;}

  .column1a__btn {margin-top: 38px;
                  border: 1px solid #fe52c0;
                  border-radius: 50px;
                  padding: 10px 30px 10px 30px;
                  color: white;
                  background-color: #fe52c0;
                  text-align: center;
                  margin-bottom: 55px;}

   .column2b__p, .column2c__p, .column2d__p {margin-top: 29px;
                                             padding: 0px 41px 35px 41px;
                                             color: hsl(208, 11%, 55%);}

   .flex-container2, .flex-container3, .flex-container4 {display: flex;
                                                         flex-flow: column wrap;
                                                         align-items: center;
                                                         margin: 0px 30px 36px 30px;
                                                         border: 1px solid #e2edf3;
                                                         border-radius: 25px;
                                                         text-align: center;}

    /* End page */

  .central {text-align: center;
            display: flex;
            flex-flow: column wrap;
            align-items: center;
            margin: auto;
            transform: translateY(70px);
            border: 30px solid white;
            background-color: white;
            width: 75%;
            border-radius: 25px;
            margin-top: -70px;}

  .central__p {margin-top: 38px;
               border: 1px solid #fe52c0;
               border-radius: 50px;
               padding: 10px 30px 10px 30px;
               color: white;
               background-color: #fe52c0;
               text-align: center;
               margin-bottom: 0px;}

  .logo-svg {transform: scale(0.5);}

    .logo3 {padding-top: 140px;
            margin-bottom: 30px;
            margin-left: 114px;}

.column1e, .column2e, .column3e {margin-left: 114px; color: white;}

  .column1e__p {clear: both;
                color: white;
                width: 515.41px;
                margin-left: 15px;
                margin-bottom: 30px;}

  .email__p {clear: both;
        color: white;
        margin-left: 15px;
        margin-bottom: 65px;}

.column2e__p, .contact__p, .column3e__p {color: white;
                                         margin-bottom: 28px;
                                         margin-left: 20px;}

  .contact__p {margin-bottom: 57px;}

  footer {background-color: #002a2e;
          color: white;}

  i {border-radius: 50px;
     text-align: center;}

  .icons2 {text-align: center;}

  .wlogo {fill: white;
          float: left;}

  .copy {margin-top: 23px;
        color: white;
        padding-bottom: 40px;
        font-size: medium;
        text-align: center;}

}

/* Desktop page */

@media screen and (min-width: 1440px) and (max-width: 1920px)

{

 body {font-size: 18px;
      padding: 0px;
      margin: 0px;}

 p {margin: 0px;}

 header {background-image: url("../img/bg-hero-desktop.svg");
         background-size: cover;
         height: 723px;
         background-color: #edfbfe;
         margin-bottom: 59px;}

 .heading {color: #01262f;
           margin-top: 0px;
           font-size: 48px;
           font-family: "Poppins";
           font-weight: 600;}

 .p {color: #01262f;
     font-family: "Open Sans";
     font-weight: 400;
     font-size: 24px;}

 .btn {font-family: "Open Sans";
       font-weight: 700;
       font-size: 20px;}

  /* Top page */

 .logo {width: 240px;
        height: 39px;
        float: left;
        margin-top: 60px;
        margin-left: 80px;
        padding-bottom: 96px;}

 .trial {float: right;
         margin-top: 60px;
         padding: 0px 70px 0px 70px;
         margin-right: 80px;
         font-size: 30px;
         border: 1px solid #e2edf3;
         background-color: white;
         border-radius: 200px;}

.flex-container1 {display: flex;
                  flex-flow: row wrap;
                  clear: both;
                  margin: 0px 17px 0px 17px;
                  align-items: center;
                  text-align: left;
                  margin-left: 80px;
                  margin-right: 88px;}

.column1a {width: 50%;}

.column2a {width: 50%;}

.mockups {width: 680px;
       height: 478px;}

.column1a__btn {margin-top: 39px;
     border: 1px solid #fe52c0;
     width: 30%;
     text-align: center;
     background-color: #fe52c0;
     color: white;
     font-weight: normal;
     border-radius: 50px;
     padding: 23px 73px 23px 73px;}

/* Mid page */

.flex-container2 {display: flex;
                  flex-flow: row wrap;
                  clear: both;
                  margin: 0px 17px 0px 17px;
                  align-items: center;
                  text-align: left;
                  margin-left: 100px;
                  margin-top: 154px;
                  margin-right: 104px;
                  margin-bottom: 36px;
                  border: 3px solid #f7f7f7;
                  padding: 126px 118px 50px 122px;}

.column1b {width: 30%;
           order: 2;}

.column2b {width: 70%;
           order: 1;}

.together {width: 386px;
           height: 331px;}

.column2b__p {margin-right: 208px;
              width: 650px;
              color: hsl(208, 11%, 55%);}

.flex-container3 {display: flex;
                  flex-flow: row wrap;
                  clear: both;
                  margin: 0px 17px 0px 17px;
                  align-items: center;
                  text-align: left;
                  margin-left: 100px;
                  margin-top: 36px;
                  margin-right: 104px;
                  margin-bottom: 36px;
                  border: 3px solid #f7f7f7;
                  padding: 126px 118px 50px 122px;}

.column1c {width: 30%;
           order: 1;}

.column2c {width: 70%;
           order: 2;}

.conversation {width: 386px;
               height: 331px;}

.column2c__h {margin-left: 174px;}

.column2c__p {margin-left: 174px;
              width: 650px;
              color: hsl(208, 11%, 55%);}

.flex-container4 {display: flex;
                  flex-flow: row wrap;
                  clear: both;
                  margin: 36px 104px 36px 100px;
                  align-items: center;
                  text-align: left;
                  border: 3px solid #f7f7f7;
                  padding: 126px 118px 50px 122px;}

.column1d {width: 30%;
           order: 2;}

.column2d {width: 70%;
           order: 1;}

.users {width: 386px;
       height: 331px;}

.column2d__p {margin-right: 208px;
              width: 650px;
              color: hsl(208, 11%, 55%);}

/* End page */

.central {text-align: center;
          display: flex;
          flex-flow: column wrap;
          align-items: center;
          margin: auto;
          transform: translateY(130px);
          border: 5px solid #fafafa;
          background-color: white;
          width: 60%;
          border-radius: 25px;
          margin-top: 156px;
          padding-top: 80px;
          padding-bottom: 80px;}

.central__p {margin-top: 36px;
             border: 1px solid #fe52c0;
             border-radius: 50px;
             padding: 32px 100px 32px 100px;
             color: white;
             background-color: #fe52c0;
             text-align: center;
             width: 40%;
             margin-bottom: 0px;}

.logo-svg {transform: scale(1.0);}

.logo3 {padding-top: 240px;
        margin-bottom: 30px;
        margin-left: 114px;}

.column1e__p {clear: both;
     color: white;
     margin-left: 15px;
     margin-bottom: 30px;}

.email__p {clear: both;
      color: white;
      margin-left: 15px;
      margin-bottom: 65px;}

.column2e__p, .contact__p, .column3e__p {color: white;
                                         margin-bottom: 28px;
                                         margin-left: 118px;}

.contact__p {margin-bottom: 57px;}

footer {background-color: #002a2e;
        color: white;}

i {border-radius: 50px;
   text-align: center;}

.icons2 {text-align: center;}

.wlogo {fill: white;
        float: left;}

 .copy {margin-top: 23px;
       padding-bottom: 40px;
       font-size: small;
       color: white;
       text-align: right;
       margin-right: 80px;}

.flex-container5 {display: flex;
                  justify-content: center;
                  margin: auto;}

.column1e {width: 40%;
           margin-left: 114px;}

.column2e {width: 20%;}

.column3e {width: 20%;}

.column4e {width: 20%;}

i {margin-left: 20px;
   margin-right: 20px;}

}

/* ==========================================================================
Helper classes
========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
* causes content to wrap 1 word per line:
* https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
* `contenteditable` attribute is included anywhere else in the document.
* Otherwise it causes space to appear at the top and bottom of elements
* that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
* `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
EXAMPLE Media Queries for Responsive Design.
These examples override the primary ('mobile first') styles.
Modify as content requires.
========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
Print styles.
Inlined to avoid the additional HTTP request:
https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
